
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    
  }
.liverpool:hover{
   scale: 1.2;
   transition: all .1s ease-in-out;
   border-radius: 5px;
   cursor: pointer;
   
}
.liverpool{
    width: 90px;
}
.butt{
    padding: 0 1.5rem;
    outline: none;
    color: white;
    background-color: #1957b4;
    border: none;
    border-radius: 5px;
  
}
#mainImage{
    /* transform: rotate(30); */
    /* box-shadow: 3px 3px 3px 5px rgb(189, 0, 0); */
}
#menuButton{
    border: 1px solid black;
    padding: .5rem 1rem;
    border-radius: 5px;
    background:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.butt:hover{
    cursor: pointer;
}
.show{
    display: flex !important;
}

#menu div{
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #4d61c5;
    color: white;
    
}
/* .tr{
    transform: scale(.3);
    transition: all 5s ease-in-out;
} */

.moveDown{
    transform: translateY(11rem);
    transition: all .5s ease-in-out;

}

.moveUp{
    
    transition: all .5s ease-in-out;

}
.scale{
    transform: scale(1.25) translateY(7rem);
    transition: all .5s ease-in-out;
}
.scaleDown{
    transform: scale(1) ;
    transition: all .5s ease-in-out;
}

.menuMoveDown{
    transform: translateY(7rem);
    transition:all .5s ease-in-out   ;

}
.menuMoveUp{
  
    transition:all .5s ease-in-out   ;

}
.scaleMainImage{
    animation: scaleMainImage .8s ;
}
@keyframes scaleMainImage
{
  0%{
    transform: scale(1);
  }

  /* 25%{
    transform: scale(.5);
  } */
  50%{
    transform: scale(0);

  }
  /* 75%{
    transform: scale(.5);

  } */
  100%{
    transform: scale(1);

  }
}

